<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>


      <compilation debug="true" targetFramework="4.0" />




   
      
      
    </system.web>


  <appSettings>

    <add key="icadDB" value="Data Source=10.0.41.101;Initial Catalog=ICAD;User ID=sa;password = tylent" />
    <add key="errorlogfile" value="C:\\Appslog\\ismlog\\logs\\" />

    <add key="nibbsurlforvalidatebvn" value="http://192.234.10.104:86/forexservice/api/forexservice/validatebvn" />
    <add key="nibbsurlforpurchasesummary" value="http://192.234.10.104:86/forexservice/api/forexservice/purchaseSummary" />
    <add key="nibbsurlforpurchaseinfo" value="http://192.234.10.104:86/forexservice/api/forexservice/purchaseInfo" />
    <add key="nibbsurlforresetpword" value="http://192.234.10.104:86/forexservice/api/forexservice/reset/" />
    <add key="nipcodeforsterling" value="000001" />
    <add key="nipcodeforsterlingg" value="999232" />
    <add key="username" value="forexservice@sterlingbankplc.com" />
    <add key="password" value="c2l$K8speMdLh@aL" />
    
    
    
    <add key="NibssBaseApiUrl" value="https://hackathon.nibss-plc.com.ng/hackathon" />
    <add key="hackAES" value="SQt8G2ITgMmLaGuR" />
    <add key="hackIVKey" value="oDdAjmI35Dienhd6" />
    <add key="hackHASH" value="Nrosw1FC5EhGBGIG65NsZys88YlW60MjIyNjk2NDQ5Mzk=" />
    
    

    
    
    
    
    
    
    <add key="AESKey" value="s207MpyH0HdqBWpz" />
    <add key="IVKey" value="HpGvk44Ide+EpUyS" />

    <add key="nibbsurlforpingservice" value="http://192.234.10.104:86/forexservice/api/" />


  </appSettings>
  
     <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
